/* .slideshowcont{
    background-image: url("../images/slideshow1.jpg"),linear-gradient(to right, #2d3250, #424769) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
} */